section{
    padding: 15px;
    .curriculo{
        padding: 5px;
        .title{
            padding: 5px;
            font-weight: bold;
            color: #333;
            font-size: 15px;
            border-bottom: 1px solid #CCC;
        }
        .card{
            margin-top: 10px;
            .badge{
            
            }
        }
    }
}