<app-header></app-header>

<section>
    
    <div class="row aluno">
        <div class="col text-center my-2">
            <h3 class="m-0"><b>NOME DO ALUNO</b></h3>
            <p>CURSO DO ALUNO</p>
        </div>
    </div>

    <div class="row curriculo">
        <div class="col">
            <div class="title text-center">
                1º SEMESTRE
            </div>
            <div class="card">
                <div class="card-body">
                    <p class="small m-0">INF0220</p>
                    <p class="m-0"><b>ALGORITMOS</b></p>
                </div>
                <div class="card-footer">
                    <p class="badge badge-success">CURSADO</p>
                </div>
            </div>
            <div class="card">
                    <div class="card-body">
                        <p class="small m-0">INF0220</p>
                        <p class="m-0"><b>REDES DE COMPUTADORES I</b></p>
                    </div>
                    <div class="card-footer">
                        <p class="badge badge-secondary">NÃO CURSADO</p>
                    </div>
                </div>
        </div>
        <div class="col">
                <div class="title text-center">
                    2º SEMESTRE
                </div>
                <div class="card">
                    <div class="card-body">
                        <p class="small m-0">INF0221</p>
                        <p class="m-0"><b>REDES DE COMPUTADORES II</b></p>
                        <p class="small m-0"><b>REQUISITOS:</b> INF0220</p>
                    </div>
                    <div class="card-footer">
                        <p class="badge badge-danger">POSSUI PRÉ REQUISITO</p>
                    </div>
                </div>
            </div>
            <div class="col">
                    <div class="title text-center">
                        3º SEMESTRE
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p></p>
                        </div>
                        <div class="card-footer">
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                        <div class="title text-center">
                            4º SEMESTRE
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <p></p>
                            </div>
                            <div class="card-footer">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                            <div class="title text-center">
                                5º SEMESTRE
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <p></p>
                                </div>
                                <div class="card-footer">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                                <div class="title text-center">
                                    6º SEMESTRE
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <p></p>
                                    </div>
                                    <div class="card-footer">
                                        <p></p>
                                    </div>
                                </div>
                            </div>

    </div>

</section>